
/* CSS */
.button{
  background-color: #fbeee0;
  border: 2px solid #d48d22;
  border-radius: 30px;
  box-shadow: #d48d22 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
 
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #d48d22 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button{
    min-width: 120px;
    padding: 0 25px;
  }
}